h1 {
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    border: solid yellowgreen 5px;
    font-family: sans-serif;
    width: fit-content;;
}

img {
    height: 400px;
    width: auto;
    margin: 10px;
}

h2 {
    font-family: "Liberation Mono", sans-serif;
    font-style: italic;
}

p {
    font-family: "URW Gothic", sans-serif;
}



ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    background-color: rgb(179 57 81);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
}

a:hover {
    background-color: rgb(79, 33, 48);
    color: #fff;
}